{
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "import/order": ["error"],
    "@typescript-eslint/explicit-function-return-type": ["off"]
  }
}
